* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

section {
    width: 100%;
    padding: 50px;
}

section > div {
    margin-bottom: 30px;
}

.self-intro {
    background-color: #5C8D89;
}

.intro-cnt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 70px;
}

nav {
    background-color: #A7D7C5;
    width: 500px;
    height: fit-content;
    position: absolute;
    left: 0px;
    border-radius: 0 15px 15px 0;
    transform: translateX(-430px);
    transition: 200ms ease-in-out;
    
}

li > a:hover {
    background-color: #F4F9F4;
}

.open-nav {
    transform: translateX(0px);
}

#hamb-menu {
    width: 50px;
    position: absolute;
    right: 0;
    margin: 10px;
}

.menu {
    display: flex;
    list-style: none;
    margin-top: 70px;
    margin-bottom: 0;  
}

.menu-vt {
    flex-direction: column;
}

.menu > li > a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 25px;
    color: black;
}

div.profil-image {
    width: 60%;
    max-width: 345px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

div.profil-image > img {
    width: 100%;

}

div.profil-info {
    margin: auto;
    text-align: center;
}

div.profil-info > h2 {
    font-size: 3.5rem;
    font-weight: 800;
}

div.profil-info > h3 {
    font-weight: 200;
    font-size: 2.5rem;
}

.section-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

div.link-box {
    display: flex;
}

.b-1 {
    justify-content: flex-end;
}

.b-2 {
    flex-direction: column;
    row-gap: 10px;
}

div.link-box > a {
    color: black;
    background-color: #A7D7C5;
    text-decoration: none; 
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #A7D7C5;
}

div.link-box > a:hover {
    background-color: #F4F9F4;
    border: 1px solid #A7D7C5;
}

footer {
    background-color: #5C8D89;
    text-align: center;
    position: relative;
}

.menu-hz {
    flex-direction: column;
}

.card-holder {
    /* padding: 0 3%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 30px;
}

.my-card {
    width: 100%;
    background-color: #eaf8ea;
    border: 1px solid #5C8D89;
    border-radius: 3%;
    overflow: hidden;
} 

.my-card-title {
    height: 100px;
    background-color: #A7D7C5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.my-card-title > h3 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.my-card-body {
    padding: 5%;
}

.my-card-body > ul {
    list-style: none;
    padding-left: 10%;
}

/* contact me page styles */

.contact-me > div > form > * {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

input[type="text"], input[type="email"], .contact-me > div > form > button {
    padding: 20px;
    border: none;
    background-color: #F4F9F4;
    border-radius: 5px;
}

.contact-me > div > form > button {
    background-color: #74B49B;
    border: 1px solid #74B49B;
}

.contact-me > div > form > button:hover {
    background-color: #F4F9F4;
    border: 1px solid #A7D7C5;
}

.costum-alert {
    background-color: #F4F9F4;
    border: 1px solid #74B49B;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 200ms ease-in-out;
}
.alert-title {
    font-size: 3rem;
    font-weight: 800;
}

.show-alert {
    display: block;
}

/* social medias section */
.medias {
    overflow: hidden;
}

.medias > a {
    width: 20%;
    max-width: 100px;
    height: 20%;
}

.medias > a > svg {
    cursor: pointer;
    transition: 300ms ease-in;
}

.medias > a > svg:hover {
    transform: scale(1.2);
    fill: #74B49B;
}

@media screen and (min-device-width: 575px) {


    body {
        font-size: 1.2em;
    }

    #hamb-menu {
        width: 30px;
    }        

    .intro-cnt {
        max-width: 1200px;
        margin: auto;
        flex-direction: row;
    }
    
    nav {
        width: 400px;
        top: 0;
        border-radius: 0 0 15px 0;
        transform: translateX(-350px);
    }

    .b-2 {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-device-width: 768px) {
    .card-holder {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .my-card {
        width: 45%;
    } 

}

@media screen and (min-device-width: 1024px) {
    .wrapper {
        max-width: 1200px;
        margin: auto;
    }

    .menu-hz {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}